<li>
  <%= gravatar_for user, size: Settings.index_ava_size %>
  <%= link_to user.name, user %>
  <% if is_admin_not_current? user %>
  | <%= link_to t("delete"), user, method: :delete,
  data: { confirm: t("you_sure") } %>
  <% end %>
    <% if current_user.admin? %>
  | <%= link_to t("edit"), user, method: :edit,
  data: { confirm: t("you_sure") } %>
  <% end %>
</li>
